

.space{
    padding-left: 3%;
    padding-bottom: 3%;
}

.head {
    border-bottom: 2px #555 solid;
}

h2 {
    border-bottom: 2px #555555 solid !important;
}

body {
    background-color: #622;
}

img {
    max-height: 100%;
    max-width: 100%;
}
.container {
    position: relative;
    text-align: center;
    color: black;
}


.banner {
    position: absolute;
    top: 70%;
    background-color: rgba(100,100,100,.8);
    height: 10%;
    width: 100%;
    font-family: 'Russo One', sans-serif;
    color: white;
    font-size: 20px;
}

.main {
    background-color:  #b3aaaa;
    border: 2px #555555 solid;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
}

.custom {
    color: #fff;
    border: 2px #555 solid;
    background-color: #622;
}

.foot {
    color: white;
    font-size: 20px;
    text-align: center;
    border-top: 2px #555 solid;
}